.btn {
    all: unset;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-success {
    background-color: var(--success);
    border: 1px solid var(--success);
    color: var(--white);
}

.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--white);
}